body {
  background-color: rgba(0,0,0,0.1);
  font-family: sans-serif;
  padding-top: 50px;
}
.container {
  display: block;
  width: 250px;
  height: 250px;
  margin: 100px auto 0;
  background: #ffffff;
  border-top-left-radius: 5% 5%;
  border-top-right-radius: 5% 5%;
  border-bottom-right-radius: 5% 5%;
  border-bottom-left-radius: 5% 5%;
  border: solid rgba(0,0,0,0.2);
}

.header{
  width: 250px;
  height:70px;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
  border-bottom: solid rgba(0,0,0,0.3);
  border-bottom-right-radius: 3% 6%;
  border-bottom-left-radius: 3% 6%;
}
.header h1{
  position: absolute;
  top: 11px;
  left: 19px;
  color: #0e0e0e;
  font-size: 22px;
}
p{
  color: #0e6692;
  font-weight: 700;
  font-size: 14px;
  padding: 11px 10px 1px;
  margin: 1;
  text-transform: capitalize;
}
input[type="text"] {
  margin: 1;
  font-size: 15px;
  line-height: 18px;
  height: 30px;
  padding: 1px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 9px;
  font-family: sans-serif;
  color: #888;
}
input[type=button]{
  font-size: 16px;
  background: #d2d8d754;
  border: 1px solid #c7c9ca;
  color: #0e6692;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  outline:none;
  margin-top: 11.3px;
}
input[type=button]:hover{
background: #d0d6d5;
}
